In [4]:
pip install ISLP

Requirement already satisfied: ISLP in f:\anaconda\lib\site-packages (0.4.0)
Requirement already satisfied: numpy>=1.7.1 in f:\anaconda\lib\site-packages (from ISLP) (1.26.4)
Requirement already satisfied: scipy>=0.9 in f:\anaconda\lib\site-packages (from ISLP) (1.11.4)
Requirement already satisfied: pandas>=0.20 in f:\anaconda\lib\site-packages (from ISLP) (2.2.3)
Requirement already satisfied: lxml in f:\anaconda\lib\site-packages (from ISLP) (5.2.1)
Requirement already satisfied: scikit-learn>=1.2 in f:\anaconda\lib\site-packages (from ISLP) (1.5.1)
Requirement already satisfied: joblib in f:\anaconda\lib\site-packages (from ISLP) (1.4.2)
Requirement already satisfied: statsmodels>=0.13 in f:\anaconda\lib\site-packages (from ISLP) (0.14.2)
Requirement already satisfied: lifelines in f:\anaconda\lib\site-packages (from ISLP) (0.30.0)
Requirement already satisfied: pygam in f:\anaconda\lib\site-packages (from ISLP) (0.9.1)
Requirement already satisfied: torch in f:\anaconda\lib\site-packages (from ISLP) (2.6.0)
Requirement already satisfied: pytorch-lightning in f:\anaconda\lib\site-packages (from ISLP) (2.5.1)
Requirement already satisfied: torchmetrics in f:\anaconda\lib\site-packages (from ISLP) (1.7.0)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\anaconda\lib\site-packages (from pandas>=0.20->ISLP) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\anaconda\lib\site-packages (from pandas>=0.20->ISLP) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in f:\anaconda\lib\site-packages (from pandas>=0.20->ISLP) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in f:\anaconda\lib\site-packages (from scikit-learn>=1.2->ISLP) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in f:\anaconda\lib\site-packages (from statsmodels>=0.13->ISLP) (0.5.6)
Requirement already satisfied: packaging>=21.3 in f:\anaconda\lib\site-packages (from statsmodels>=0.13->ISLP) (24.1)
Requirement already satisfied: matplotlib>=3.0 in f:\anaconda\lib\site-packages (from lifelines->ISLP) (3.9.2)
Requirement already satisfied: autograd>=1.5 in f:\anaconda\lib\site-packages (from lifelines->ISLP) (1.7.0)
Requirement already satisfied: autograd-gamma>=0.3 in f:\anaconda\lib\site-packages (from lifelines->ISLP) (0.5.0)
Requirement already satisfied: formulaic>=0.2.2 in f:\anaconda\lib\site-packages (from lifelines->ISLP) (1.1.1)
Requirement already satisfied: progressbar2<5.0.0,>=4.2.0 in f:\anaconda\lib\site-packages (from pygam->ISLP) (4.5.0)
Requirement already satisfied: tqdm>=4.57.0 in f:\anaconda\lib\site-packages (from pytorch-lightning->ISLP) (4.66.5)
Requirement already satisfied: PyYAML>=5.4 in f:\anaconda\lib\site-packages (from pytorch-lightning->ISLP) (6.0.1)
Requirement already satisfied: fsspec>=2022.5.0 in f:\anaconda\lib\site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (2024.6.1)
Requirement already satisfied: typing-extensions>=4.4.0 in f:\anaconda\lib\site-packages (from pytorch-lightning->ISLP) (4.11.0)
Requirement already satisfied: lightning-utilities>=0.10.0 in f:\anaconda\lib\site-packages (from pytorch-lightning->ISLP) (0.14.2)
Requirement already satisfied: filelock in f:\anaconda\lib\site-packages (from torch->ISLP) (3.13.1)
Requirement already satisfied: networkx in f:\anaconda\lib\site-packages (from torch->ISLP) (3.3)
Requirement already satisfied: jinja2 in f:\anaconda\lib\site-packages (from torch->ISLP) (3.1.4)
Requirement already satisfied: setuptools in f:\anaconda\lib\site-packages (from torch->ISLP) (75.1.0)
Requirement already satisfied: sympy==1.13.1 in f:\anaconda\lib\site-packages (from torch->ISLP) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in f:\anaconda\lib\site-packages (from sympy==1.13.1->torch->ISLP) (1.3.0)
Requirement already satisfied: interface-meta>=1.2.0 in f:\anaconda\lib\site-packages (from formulaic>=0.2.2->lifelines->ISLP) (1.3.0)
Requirement already satisfied: wrapt>=1.0 in f:\anaconda\lib\site-packages (from formulaic>=0.2.2->lifelines->ISLP) (1.14.1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in f:\anaconda\lib\site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (3.10.5)
Requirement already satisfied: contourpy>=1.0.1 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (1.2.0)
Requirement already satisfied: cycler>=0.10 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (1.4.4)
Requirement already satisfied: pillow>=8 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (3.1.2)
Requirement already satisfied: six in f:\anaconda\lib\site-packages (from patsy>=0.5.6->statsmodels>=0.13->ISLP) (1.16.0)
Requirement already satisfied: python-utils>=3.8.1 in f:\anaconda\lib\site-packages (from progressbar2<5.0.0,>=4.2.0->pygam->ISLP) (3.9.1)
Requirement already satisfied: colorama in f:\anaconda\lib\site-packages (from tqdm>=4.57.0->pytorch-lightning->ISLP) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in f:\anaconda\lib\site-packages (from jinja2->torch->ISLP) (2.1.3)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.11.0)
Requirement already satisfied: idna>=2.0 in f:\anaconda\lib\site-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (3.7)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import ISLP
print (ISLP.__version__)

0.4.0

In [6]:
import ISLP
from ISLP import load_data
from statsmodels.datasets import get_rdataset

import numpy as np
import pandas as pd

In [7]:
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [8]:
import os
print(os.getcwd())

C:\Users\Juan T\Documents\GitHub\Big_Data_TP3_Grupo13

In [9]:
os.chdir("C:/Users/kendr/Documents/GitHub/Big_Data_TP3_Grupo13")

FileNotFoundError: [WinError 3] El sistema no puede encontrar la ruta especificada: 'C:/Users/kendr/Documents/GitHub/Big_Data_TP3_Grupo13'

In [23]:
df = pd.read_stata("Individual_t104.dta")

In [178]:
df.head(3)

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,07,,06,06,,04,0.0,0.0,0.0,00000
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,00,,00,00,,00,0.0,0.0,0.0,00000
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,07,,07,07,,05,0.0,0.0,0.0,00020

In [180]:
edades2=df[["ch06"]]

In [182]:
edades2

       ch06
0      79.0
1      67.0
2      74.0
3      54.0
4      51.0
...     ...
45284  37.0
45285  35.0
45286  13.0
45287   5.0
45288   4.0

[45289 rows x 1 columns]

In [184]:
edades2 = edades2.rename(columns={"ch06": "edad2"})

In [186]:
edades2

      edad2
0      79.0
1      67.0
2      74.0
3      54.0
4      51.0
...     ...
45284  37.0
45285  35.0
45286  13.0
45287   5.0
45288   4.0

[45289 rows x 1 columns]

In [188]:
for col in edades2.columns:
    print(f"{col}:")
    print(edades2[col].unique())
    print("-" * 40)

edad2:
[79.0, 67.0, 74.0, 54.0, 51.0, ..., 88.0, '98 y más años', 91.0, 97.0, 95.0]
Length: 99
Categories (99, object): ['Menos de 1 año' < 1.0 < 2.0 < 3.0 ... 95.0 < 96.0 < 97.0 < '98 y más años']
----------------------------------------

In [194]:
edades2["edad2"] = edades2["edad2"].astype(str).replace({"Menos de 1 año": "1", "98 y más años": "98"})
edades2["edad2"] = edades2["edad2"].astype(float)

In [196]:
edades2['edad2'] = edades2['edad2'] ** 2  # Elevar los valores al cuadrado

In [198]:
edades2

        edad2
0      6241.0
1      4489.0
2      5476.0
3      2916.0
4      2601.0
...       ...
45284  1369.0
45285  1225.0
45286   169.0
45287    25.0
45288    16.0

[45289 rows x 1 columns]

In [158]:
df2024 = pd.read_excel("usu_individual_T124.xlsx")

In [200]:
df2024

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
0,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,3,1,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
1,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,4,1,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
2,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,5,0,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
3,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,1,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
4,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,2,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46045,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,1,1,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46046,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,2,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46047,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,3,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46048,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,4,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
46049,TQRMNOPUQHKMKNCDEIJAH00861661,2024,1,1,5,2,1,S,33,3410,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0

In [202]:
edades2024=df2024[["CH06"]]

In [204]:
edades2024

       CH06
0        44
1        22
2         3
3        54
4        53
...     ...
46045    43
46046    21
46047    20
46048    11
46049    24

[46050 rows x 1 columns]

In [206]:
edades2024 = edades2024.rename(columns={"CH06": "edad2"})

In [208]:
for col in edades2024.columns:
    print(f"{col}:")
    print(edades2024[col].unique())
    print("-" * 40)

edad2:
[ 44  22   3  54  53  26  25  72  41  43  17  52  24  19  16   5  76  31
  23  62  64  35  28  58  78  39  29   1  11  49  65  20  73  57  21  48
   8  18   9  51  50  14  12  13  46  15  45   4  40  -1   7   2  32  59
  47  42  36   6  55  74  77  37  34  30  63  71  10  91  83  60  79  61
  38  82  56  85  87  69  67  27  81  88  84  66  33  68  80  75  86  70
  89  95  90  96  93  92  98  99  94 101  97 100]
----------------------------------------

In [212]:
edades2024['edad2'] = edades2024['edad2'] ** 2

In [214]:
edades2024

       edad2
0       1936
1        484
2          9
3       2916
4       2809
...      ...
46045   1849
46046    441
46047    400
46048    121
46049    576

[46050 rows x 1 columns]

In [216]:
edad2 = pd.concat([edades2, edades2024])

In [218]:
edad2

        edad2
0      6241.0
1      4489.0
2      5476.0
3      2916.0
4      2601.0
...       ...
46045  1849.0
46046   441.0
46047   400.0
46048   121.0
46049   576.0

[91339 rows x 1 columns]