In [5]:
pip install ISLP

Requirement already satisfied: ISLP in c:\users\kendr\anaconda3\lib\site-packages (0.4.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.7.1 in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (1.26.4)
Requirement already satisfied: scipy>=0.9 in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (1.11.4)
Requirement already satisfied: pandas>=0.20 in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (2.2.2)
Requirement already satisfied: lxml in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (5.2.1)
Requirement already satisfied: scikit-learn>=1.2 in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (1.5.1)
Requirement already satisfied: joblib in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (1.4.2)
Requirement already satisfied: statsmodels>=0.13 in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (0.14.2)
Requirement already satisfied: lifelines in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (0.30.0)
Requirement already satisfied: pygam in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (0.9.1)
Requirement already satisfied: torch in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (2.7.0)
Requirement already satisfied: pytorch-lightning in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (2.5.1.post0)
Requirement already satisfied: torchmetrics in c:\users\kendr\anaconda3\lib\site-packages (from ISLP) (1.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kendr\anaconda3\lib\site-packages (from pandas>=0.20->ISLP) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kendr\anaconda3\lib\site-packages (from pandas>=0.20->ISLP) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kendr\anaconda3\lib\site-packages (from pandas>=0.20->ISLP) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\kendr\anaconda3\lib\site-packages (from scikit-learn>=1.2->ISLP) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in c:\users\kendr\anaconda3\lib\site-packages (from statsmodels>=0.13->ISLP) (0.5.6)
Requirement already satisfied: packaging>=21.3 in c:\users\kendr\anaconda3\lib\site-packages (from statsmodels>=0.13->ISLP) (24.1)
Requirement already satisfied: matplotlib>=3.0 in c:\users\kendr\anaconda3\lib\site-packages (from lifelines->ISLP) (3.9.2)
Requirement already satisfied: autograd>=1.5 in c:\users\kendr\anaconda3\lib\site-packages (from lifelines->ISLP) (1.7.0)
Requirement already satisfied: autograd-gamma>=0.3 in c:\users\kendr\anaconda3\lib\site-packages (from lifelines->ISLP) (0.5.0)
Requirement already satisfied: formulaic>=0.2.2 in c:\users\kendr\anaconda3\lib\site-packages (from lifelines->ISLP) (1.1.1)
Requirement already satisfied: progressbar2<5.0.0,>=4.2.0 in c:\users\kendr\anaconda3\lib\site-packages (from pygam->ISLP) (4.5.0)
Requirement already satisfied: tqdm>=4.57.0 in c:\users\kendr\anaconda3\lib\site-packages (from pytorch-lightning->ISLP) (4.66.5)
Requirement already satisfied: PyYAML>=5.4 in c:\users\kendr\anaconda3\lib\site-packages (from pytorch-lightning->ISLP) (6.0.1)
Requirement already satisfied: fsspec>=2022.5.0 in c:\users\kendr\anaconda3\lib\site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (2024.6.1)
Requirement already satisfied: typing-extensions>=4.4.0 in c:\users\kendr\anaconda3\lib\site-packages (from pytorch-lightning->ISLP) (4.11.0)
Requirement already satisfied: lightning-utilities>=0.10.0 in c:\users\kendr\anaconda3\lib\site-packages (from pytorch-lightning->ISLP) (0.14.3)
Requirement already satisfied: filelock in c:\users\kendr\anaconda3\lib\site-packages (from torch->ISLP) (3.13.1)
Requirement already satisfied: sympy>=1.13.3 in c:\users\kendr\anaconda3\lib\site-packages (from torch->ISLP) (1.14.0)
Requirement already satisfied: networkx in c:\users\kendr\anaconda3\lib\site-packages (from torch->ISLP) (3.3)
Requirement already satisfied: jinja2 in c:\users\kendr\anaconda3\lib\site-packages (from torch->ISLP) (3.1.4)
Requirement already satisfied: setuptools in c:\users\kendr\anaconda3\lib\site-packages (from torch->ISLP) (75.1.0)
Requirement already satisfied: interface-meta>=1.2.0 in c:\users\kendr\anaconda3\lib\site-packages (from formulaic>=0.2.2->lifelines->ISLP) (1.3.0)
Requirement already satisfied: wrapt>=1.0 in c:\users\kendr\anaconda3\lib\site-packages (from formulaic>=0.2.2->lifelines->ISLP) (1.14.1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in c:\users\kendr\anaconda3\lib\site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (3.10.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kendr\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\kendr\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kendr\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\kendr\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (1.4.4)
Requirement already satisfied: pillow>=8 in c:\users\kendr\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kendr\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (3.1.2)
Requirement already satisfied: six in c:\users\kendr\anaconda3\lib\site-packages (from patsy>=0.5.6->statsmodels>=0.13->ISLP) (1.16.0)
Requirement already satisfied: python-utils>=3.8.1 in c:\users\kendr\anaconda3\lib\site-packages (from progressbar2<5.0.0,>=4.2.0->pygam->ISLP) (3.9.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\kendr\anaconda3\lib\site-packages (from sympy>=1.13.3->torch->ISLP) (1.3.0)
Requirement already satisfied: colorama in c:\users\kendr\anaconda3\lib\site-packages (from tqdm>=4.57.0->pytorch-lightning->ISLP) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\kendr\anaconda3\lib\site-packages (from jinja2->torch->ISLP) (2.1.3)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in c:\users\kendr\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\kendr\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\kendr\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\kendr\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\kendr\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\kendr\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.11.0)
Requirement already satisfied: idna>=2.0 in c:\users\kendr\anaconda3\lib\site-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (3.7)

In [6]:
import ISLP
print (ISLP.__version__)

0.4.0

In [7]:
import ISLP
from ISLP import load_data
from statsmodels.datasets import get_rdataset

import numpy as np
import pandas as pd

In [8]:
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [9]:
import os
print(os.getcwd())

C:\Users\kendr\Documents\GitHub\Big_Data_TP3_Grupo13

In [10]:
os.chdir("C:/Users/kendr/Documents/GitHub/Big_Data_TP3_Grupo13")

In [11]:
df = pd.read_stata("Individual_t104.dta")

In [12]:
df.head(3)

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,07,,06,06,,04,0.0,0.0,0.0,00000
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,00,,00,00,,00,0.0,0.0,0.0,00000
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,07,,07,07,,05,0.0,0.0,0.0,00020

In [13]:
edades2004=df[["ano4","ch06"]]

In [14]:
edades2004

         ano4  ch06
0      2004.0  79.0
1      2004.0  67.0
2      2004.0  74.0
3      2004.0  54.0
4      2004.0  51.0
...       ...   ...
45284  2004.0  37.0
45285  2004.0  35.0
45286  2004.0  13.0
45287  2004.0   5.0
45288  2004.0   4.0

[45289 rows x 2 columns]

In [15]:
edades2004 = edades2004.rename(columns={"ch06": "edad2","ano4":"año"})

In [16]:
edades2004

          año edad2
0      2004.0  79.0
1      2004.0  67.0
2      2004.0  74.0
3      2004.0  54.0
4      2004.0  51.0
...       ...   ...
45284  2004.0  37.0
45285  2004.0  35.0
45286  2004.0  13.0
45287  2004.0   5.0
45288  2004.0   4.0

[45289 rows x 2 columns]

In [17]:
for col in edades2004.columns:
    print(f"{col}:")
    print(edades2004[col].unique())
    print("-" * 40)

año:
[2004.]
----------------------------------------
edad2:
[79.0, 67.0, 74.0, 54.0, 51.0, ..., 88.0, '98 y más años', 91.0, 97.0, 95.0]
Length: 99
Categories (99, object): ['Menos de 1 año' < 1.0 < 2.0 < 3.0 ... 95.0 < 96.0 < 97.0 < '98 y más años']
----------------------------------------

In [18]:
edades2004["edad2"] = edades2004["edad2"].astype(str).replace({"Menos de 1 año": "1", "98 y más años": "98"})
edades2004["edad2"] = edades2004["edad2"].astype(float)

In [19]:
edades2004['edad2'] = edades2004['edad2'] ** 2  # Elevar los valores al cuadrado

In [20]:
edades2004hist= edades2004[["edad2"]]

In [1]:
df2024 = pd.read_excel("usu_individual_T124.xlsx")

NameError: name 'pd' is not defined

In [ ]:
df2024

In [ ]:
edades2024=df2024[["ANO4","CH06"]]

In [ ]:
edades2024

In [ ]:
edades2024 = edades2024.rename(columns={"CH06": "edad2","ANO4":"año"})

In [ ]:
for col in edades2024.columns:
    print(f"{col}:")
    print(edades2024[col].unique())
    print("-" * 40)

In [ ]:
edades2024['edad2'] = edades2024['edad2'] ** 2

In [ ]:
edades2024

In [ ]:
edad2 = pd.concat([edades2004, edades2024])

In [ ]:
!pip install scikit-learn

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(10,6))
plt.hist(edades2004hist, alpha=0.5, color='blue') # por default, 10 bins
plt.xlabel("x")
plt.ylabel('y')
plt.show()

In [ ]:
edad_2004 = edad2[edad2['año'] == 2004.0]['edad2']
edad_2024 = edad2[edad2['año'] == 2024.0]['edad2']

plt.figure(figsize=(10,6))
plt.hist([edad_2004, edad_2024],bins=20, alpha=0.5, color=['blue', 'green'], label=['2004', '2024'])
plt.xlabel('Edad2')
plt.ylabel('Frecuencia')
plt.title('Comparación de histogramas para 2004 y 2024')
plt.legend()
plt.show()
#no tiene mucho sentido gráficar las edades al cuadrado, aparte de que es poco entendible a simple vista

In [ ]:
edad_2004 = np.sqrt(edad2[edad2['año'] == 2004.0]['edad2'])
edad_2024 = np.sqrt(edad2[edad2['año'] == 2024.0]['edad2']) #np.sqrt nos da la raiz cuadrada de la columna edad

plt.figure(figsize=(10,6))
plt.hist([edad_2004, edad_2024],bins=40, alpha=0.5, color=['blue', 'green'], label=['2004', '2024'])
plt.xlabel('Edad')
plt.ylabel('Frecuencia')
plt.title('Comparación de histogramas para 2004 y 2024 (edad real estimada)')
plt.legend()
plt.show()

In [ ]:
from sklearn.neighbors import KernelDensity

In [ ]:
df2004 = df

In [ ]:
df2004estado = df2004[["ano4","estado","ch06"]]

In [ ]:
valores_permitidos = ['Ocupado', 'Desocupado']  # los valores que querés conservar

df2004estado = df2004estado[df2004estado['estado'].isin(valores_permitidos)]

In [ ]:
df2004estado = df2004estado.rename(columns={"ano4":"año","ch06":"edad"})

In [ ]:
for col in df2004estado.columns:
    print(f"{col}:")
    print(df2004estado[col].unique())
    print("-" * 40)

In [ ]:
df2004estado["edad"] = df2004estado["edad"].astype(str).replace({"Menos de 1 año": "1", "98 y más años": "98"})
df2004estado["edad"] = df2004estado["edad"].astype(float)

In [ ]:
df2004estado["estado"] = df2004estado["estado"].astype(str).replace({"Ocupado": "1", "Desocupado": "2"})
df2004estado["estado"] = df2004estado["estado"].astype(float)

In [ ]:
df2004estado

In [ ]:
df2024estado=df2024[["ANO4","ESTADO","CH06"]]

In [ ]:
df2024estado
valores_permitidos = [1,2]  # los valores que querés conservar

df2024estado = df2024estado[df2024estado['ESTADO'].isin(valores_permitidos)]

In [ ]:
df2024estado = df2024estado.rename(columns={"ESTADO": "estado","ANO4":"año","CH06":"edad"})

In [ ]:
PanelB = pd.concat([df2004estado, df2024estado])
PanelB

In [ ]:
ocupados = PanelB[PanelB['estado'] == 1]['edad'].dropna().values.reshape(-1, 1)
desocupados = PanelB[PanelB['estado'] == 2]['edad'].dropna().values.reshape(-1, 1)

# Rango para el eje X
x_range = np.linspace(PanelB['edad'].min(), PanelB['edad'].max(), 1000).reshape(-1, 1)

# Estimar KDE para ocupados
kde_ocup = KernelDensity(kernel='gaussian', bandwidth=2).fit(ocupados)
dens_ocup = np.exp(kde_ocup.score_samples(x_range))

# Estimar KDE para desocupados
kde_desocup = KernelDensity(kernel='gaussian', bandwidth=2).fit(desocupados)
dens_desocup = np.exp(kde_desocup.score_samples(x_range))

# Graficar
plt.figure(figsize=(10, 6))
plt.plot(x_range[:, 0], dens_ocup, color='blue', label='Ocupados')
plt.plot(x_range[:, 0], dens_desocup, color='red', label='Desocupados')
plt.title('Distribución de edades - Estimación Kernel')
plt.xlabel('Edad')
plt.ylabel('Densidad estimada')
plt.legend()
plt.grid(True)
plt.show()
#Podemos ver que el gráfico nos muestra una mayor distribución de desocupados entre los 20 y 25.

In [31]:
print ("La distribución de edades muestra que los desocupados (línea roja) tienden a concentrarse en edades más jóvenes, con un pico notable alrededor de los 21 años. En cambio, los ocupados (línea azul) presentan una distribución más uniforme, con una mayor concentración entre los 30 y 50 años. Esto sugiere que los jóvenes enfrentan mayores dificultades para integrarse al mercado laboral")

La distribución de edades muestra que los desocupados (línea roja) tienden a concentrarse en edades más jóvenes, con un pico notable alrededor de los 21 años. En cambio, los ocupados (línea azul) presentan una distribución más uniforme, con una mayor concentración entre los 30 y 50 años. Esto sugiere que los jóvenes enfrentan mayores dificultades para integrarse al mercado laboral

In [33]:
educ=df[["ch12","ch13","ch14"]]

In [35]:
print(educ)

                    ch12 ch13 ch14
0             Secundario   No   03
1               Primario   Sí
2               Primario   Sí
3               Primario   Sí
4          Universitario   Sí
...                  ...  ...  ...
45284      Universitario   Sí
45285         Secundario   Sí
45286                EGB   No   02
45287  Jardín/Preescolar   No   00
45288  Jardín/Preescolar   No   00

[45289 rows x 3 columns]

In [37]:
educ

                    ch12 ch13 ch14
0             Secundario   No   03
1               Primario   Sí
2               Primario   Sí
3               Primario   Sí
4          Universitario   Sí
...                  ...  ...  ...
45284      Universitario   Sí
45285         Secundario   Sí
45286                EGB   No   02
45287  Jardín/Preescolar   No   00
45288  Jardín/Preescolar   No   00

[45289 rows x 3 columns]

In [39]:
educ = educ.rename(columns={"ch12": "nivel de educacion","ch13":"finalizo","ch14":"educacion formal"})

In [41]:
educ

      nivel de educacion finalizo educacion formal
0             Secundario       No               03
1               Primario       Sí
2               Primario       Sí
3               Primario       Sí
4          Universitario       Sí
...                  ...      ...              ...
45284      Universitario       Sí
45285         Secundario       Sí
45286                EGB       No               02
45287  Jardín/Preescolar       No               00
45288  Jardín/Preescolar       No               00

[45289 rows x 3 columns]

In [47]:
df = pd.concat([df, educ], axis=1)

In [45]:
print(type(educ))

<class 'pandas.core.frame.DataFrame'>

In [57]:
estadisticas = df['nivel de educacion'].describe(percentiles=[0.5])  
print(estadisticas)

count        45289
unique          11
top       Primario
freq         11827
Name: nivel de educacion, dtype: object

In [61]:
estadisticas = df['finalizo'].describe(percentiles=[0.5])  
print(estadisticas)

count     45289
unique        4
top          No
freq      24326
Name: finalizo, dtype: object

In [63]:
estadisticas = df['educacion formal'].describe(percentiles=[0.5])  
print(estadisticas)

count     45289
unique       13
top
freq      20964
Name: educacion formal, dtype: object

In [59]:
# Estadísticas completas para cada columna
estadisticas_completas = educ.describe(percentiles=[0.5])  # Incluye mediana (p50)
print(estadisticas_completas)

       nivel de educacion finalizo educacion formal
count               45289    45289            45289
unique                 11        4               13
top              Primario       No
freq                11827    24326            20964

In [77]:
print("""Los resultados muestran que el conjunto de datos contiene 45,289 observaciones completas en tres variables categóricas: nivel de educación presenta 11 categorías, siendo Primario la más frecuente (26.1% de los casos); la variable finalizó educación formal revela que la mayoría no completó su formación (53.7% respondió "No"); mientras que la tercera variable (de nombre incompleto) tiene 13 categorías con una opción dominante que representa el 46.3% de las respuestas. Esta distribución indica bajos niveles educativos formales en la población estudiada, con una marcada prevalencia de educación primaria y altas tasas de no finalización, lo que sugiere posibles desafíos en retención escolar o acceso a educación superior. Para un análisis más profundo, sería valioso examinar las relaciones entre estas variables y visualizar su distribución mediante gráficos de barras y circulares""")

Los resultados muestran que el conjunto de datos contiene 45,289 observaciones completas en tres variables categóricas: nivel de educación presenta 11 categorías, siendo Primario la más frecuente (26.1% de los casos); la variable finalizó educación formal revela que la mayoría no completó su formación (53.7% respondió "No"); mientras que la tercera variable (de nombre incompleto) tiene 13 categorías con una opción dominante que representa el 46.3% de las respuestas. Esta distribución indica bajos niveles educativos formales en la población estudiada, con una marcada prevalencia de educación primaria y altas tasas de no finalización, lo que sugiere posibles desafíos en retención escolar o acceso a educación superior. Para un análisis más profundo, sería valioso examinar las relaciones entre estas variables y visualizar su distribución mediante gráficos de barras y circulares